<%-layout('layouts/boilerplate') %>
    <h1> <%=book.title %></h1>
    <ul>
        <li><h2>Price: <%=book.price%></h2></li>
        <li><h2>Author: <%=book.author%></li>
        <li><h2>Description: <%=book.description%></h2></li>
        <li><h2>Year: <%=book.year%></h2></li>
        <li><h2>Genre: <%=book.genre%></h2></li>
    </ul>
    <form action="/books/<%=book._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
    </form>
</body>
</html>